#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with python2

override_dh_auto_install:
	# install horizon and dashboard
	cd $(CURDIR)/horizon && \
		python setup.py install --prefix=/usr --root=$(CURDIR)/debian/tmp \
			--install-layout=deb

	install -d -m 755 $(CURDIR)/debian/openstack-dashboard/etc/openstack-dashboard
	install -d -m 755 $(CURDIR)/debian/openstack-dashboard/var/lib/openstack-dashboard
	install -d -m 755 $(CURDIR)/debian/openstack-dashboard/var/log/openstack-dashboard
	install -d -m 755 $(CURDIR)/debian/openstack-dashboard/usr/share/openstack-dashboard/quantum

	# Disable quantum
	touch $(CURDIR)/debian/openstack-dashboard/usr/share/openstack-dashboard/quantum/__init__.py
	touch $(CURDIR)/debian/openstack-dashboard/usr/share/openstack-dashboard/quantum/client.py

	

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	bash run_tests.sh -N || true
endif

override_dh_auto-clean:
	dh_clean
	cd $(CURDIR)/horizon && python setup.py clean

get-orig-source:
	uscan --verbose --force-download --rename --destdir=../build-area
